<!DOCTYPE html>
<html>
  <%- include('./templates/head.ejs') %>

  <body>
    <%- include('./templates/nav.ejs') %>

    <main>
      <section class="404 content">
        <h2>Oops</h2>
        <p>We've lost him</p>
      </section>
    </main>

    <%- include('./templates/footer.ejs') %>
  </body>
</html>
