<!DOCTYPE html>
<html>
  <%- include('./templates/head.ejs') %>

  <body>
    <%- include('./templates/nav.ejs') %>

    <main>
      <section class="about content">
        <h2>About The Doc</h2>
        <p>He's smart</p>
        <p>He's got the PHD</p>
        <p>He's established</p>
      </section>
    </main>

    <%- include('./templates/footer.ejs') %>
  </body>
</html>
