<header>
  <div class="site-title">
    <a href="/"><h1>The Doctor's Blog</h1></a>
    <p>A Day in the Life of the Doc</p>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/create">Create Post</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
